/*
commentaire
*/
/*
selecteur{
    propriete: valeur;
    propriete: valeur;
    propriete: valeur;
    propriete: valeur;
    propriete: valeur;
    propriete: valeur;
}

*/

body{
     background-color: red;
     background-image: url(../img/luffy.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}
h1{
    color: blueviolet;
    text-align: center;
}
p{
    color: green;
}

/*selecteur d id*/
#lorem1{
    color: azure;
}
/*selecteur de class*/
.multiple{
    color: cyan;
}